<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Create acoount</h1>
        <form method="POST" action="/create_account/form">
            <input type="text"
                   name="Username"
                   placeholder="Username">

            <input type="text"
                   name="Email"
                   placeholder="Email">
            <input type="password"
                   name="password"
                   placeholder="Password">
            
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>