<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index,.css">
    <script src="../static/javascript/index.js"></script>
    <title>Torgersen</title>
</head>

<header>
    <nav class="navbar">
        <a href="#" class="brand">Torgersen</a>
        <div class="btn-group">
          <button onclick="window.location.href='create_account'">Create Account</button>
          <button onclick="window.location.href='login'">Login</button>
        </div>
      </nav>
</header>
<body>
    <div>
        
    </div>
</body>
</html>