<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index,.css">
    <script src="../static/javascript/index.js"></script>
    <title>bok libary</title>
</head>

<header>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <nav class="navbar">
        <a href="/" class="brand">{{session['name']}}</a>
        <div class="btn-group">
          <button onclick="window.location.href='create_account'">Create Account</button>
          <button onclick="window.location.href='login'">Login</button>
          <button onclick="window.location.href='logout'">logout</button>
        </div>
      </nav>
</header>
<body>
  <div class="form-container">
    <form method="POST" action="/index/form">
      <input type="text" name="Bok" placeholder="Bok">
      <input type="text" name="Kildespråk" placeholder="Kildespråk">
      <input type="text" name="oversettelse" placeholder="oversettelse">
      <button type="submit">submit</button>
    </form>
  </div>
</body>
</html>